@import './helpers/variables';
@import '~@welance/welance-bs/src/sass/welanstrap';

@import './base/typography';

@import '../../_entries/pages/page';
@import '../../_entries/news/news';

@import 'layout/general';

@import 'components/hero';
@import 'components/gallery';
@import 'components/wc-accordion';
@import 'components/navigation';

.logo{
  max-width: 6rem;
  width: 100%;
  @include mb(6);
  @include mt(6);
}

.main-header{
  border-bottom: 2px solid $black;
  @include mq($until: lg){
    border-bottom: 1px solid $black;
  }
}

.row{
  &--block{
    //@include mb(10);
  }
  &--title{
    @include mb(6);
  }
}

footer{
  @include mt(30);
  @include mb(30);
  font-family: $font-family-sans-serif;
}
