{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry's URL is requested, because
 # the News section's Template setting is set to "news/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested News entry.
-#}

{% extends "_includes/_layouts/site" %}
{% set title = entry.title %}

{% block main %}
	<article>
    <div class="wrap wrap--contained">
      <div class="row">
        <div class="col col--5-12@md col--12-12@xs">
          <div class="img--r1-1">
            <picture class="ratio-content">
                <source srcset="{{entry.featuredImage.first() ? entry.featuredImage.first().getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" media="(min-width: 600px)">
                <img src="{{entry.featuredImage.first() ? entry.featuredImage.first().getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" alt="{{entry.title}} profile picture"/>
            </picture>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col--8-12@md col--12-12@xs">
          <h2 class="fellow-name">{{title}}</h2>
          <h3 class="fellow-group">
            {% for i, group in entry.ggfIssue %}{{ group.title }}{% endfor %}
            Working Group on
            {% for i, group in entry.workingGroup %}{{ group.title }}{% endfor %}
          </h3>
          <p class="fellow-bio">
            {{entry.bio | striptags}}
          </p>
        </div>
      </div>
    </div>
		{% include "_includes/_matrix_layouts/page_body" %}
	</article>
{% endblock %}
