@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.r16-9 {
  @include aspect-ratio(9, 16);
  > video, img{
    object-fit:cover;
    width:100%;
    height:100%;
  }
}
