{#
 # Page Body include template
 # -----------------------------
 #
 # This template is used to output HTML for an "Page Body" Matrix field.
 #
 # An `entry` variable is expected to be defined.
-#}

{% set blocks = entry.pageBody %}

{% for i, block in blocks %}

  {% set nextBlock = not loop.last ? blocks[i+1] : false %}
  {% set prevBlock = not loop.first ? blocks[i-1] : false %}

  {% set colWidth = block.colWidth ? block.colWidth : false %}
  {% set prevColWidth = prevBlock ? prevBlock.colWidth : false %}


  {% if loop.first and not (colWidth | full_width) %}
    <div class="wrap wrap--contained">
      <div class="row">
  {% elseif loop.first and (colWidth | full_width) %}
    <div class="wrap">
      <div class="row">
  {% elseif not loop.first and (prevColWidth | full_width) and not (colWidth | full_width) %}
      </div> <!-- close the row before -->
    </div> <!-- close the wrap before -->
    <div class="wrap wrap--contained">
      <div class="row">
  {% elseif not loop.first and (prevColWidth | full_width) and (colWidth | full_width) %}
    <!-- nothing -->
  {% elseif not loop.first and not (prevColWidth | full_width) and (colWidth | full_width) %}
      </div> <!-- close the row before -->
    </div> <!-- close the wrap before -->
    <div class="wrap wrap">
      <div class="row">
  {% endif %}

  {% if not loop.first and (colWidth | new_row) %}
    </div> <!-- close row -->
    <div class="row"> <!-- re-open row -->
  {% endif %}


  <div class="{{colWidth|mobile_class("xs")}} {{colWidth|desktop_class("lg")}} {{colWidth|tablet_class("md")}} {{colWidth|wide_class("xl")}}">

    <div class="vertical-align-wrap">
      <div class="valign--{{colWidth|v_align}}">

        {% switch block.type %}
          {# --------------------------------------------- RICH CONTENT -------- #}
          {% case 'richContent' %}
            {{ block.richContent }}

          {# --------------------------------------------- HERO ---------------- #}
          {% case 'hero' %}
            <div class="row hero {{ block.backgroundColor | dark_or_light("hero") }} {{ (block.mediasPosition == "left") ? "hero--inverted" : "" }} {{ block.mode == "margins" ? "hero--margins" : "" }} {{ block.mode == "contained-margins" ? "hero--contained-margins" : "" }}" style="background-color:{{ block.backgroundColor }}">

              {% if block.mode == "contained" or block.mode == "contained-margins" %}
                <div class="wrap wrap--contained">
                  <div class="row hero {{ block.backgroundColor | dark_or_light("hero") }} {{ (block.mediasPosition == "left") ? "hero--inverted" : "" }}" style="background-color:{{ block.backgroundColor }}">
              {% endif %}

                  {% if block.mainTitle %}
                  <div class="col col--12-12@xs hero-text-title">
                    {{ block.mainTitle }}
                  </div>
                  {% endif %}
                  <div class="hero-text col col--6-12@md col--12-12@xs">
                    {{ block.text }}
                  </div>
                  <div class="hero-medias {{ (block.medias|length > 1) ? "hero-medias--gallery" : "hero-medias--single" }} col--6-12@md col--12-12@xs">

                    {% for i, media in block.medias %}
                      {% if media.kind == 'image' %}
                        <div class="img--r{{block.mediaRatio}}">
                          <picture class="ratio-content">
                            {#<source srcset="{{ entry.featuredImage.first().getUrl() }}" media="(min-width: 600px)">#}
                            <img src="{{ media.getUrl('imgSquared') }}" alt="{{ media.title }}"/>
                          </picture>
                        </div>
                      {% elseif media.kind == 'video' %}
                        {#Ignoring video for now#}
                        {#<video controls>
                          <source src="{{ media.getUrl()}}">
                        Your browser does not support the video tag.
                        </video>#}
                      {% endif %}
                    {% endfor %}
                  </div>

              {% if block.mode == "contained" or block.mode == "contained-margins" %}
                  </div>
                </div>
              {% endif %}


            </div>

          {# --------------------------------------------- OTHER --------------- #}
          {% case 'image' %}
              <div class="img--r{{block.mediaRatio}}">
                <picture class="ratio-content">
                  {#<source srcset="{{ entry.featuredImage.first().getUrl() }}" media="(min-width: 600px)">#}
                  <img src="{{ block.image.first().getUrl() }}" alt="{{ block.image.first().title }}"/>
                </picture>
              </div>
              <p class="caption">{{block.image.first().title}}</p>

          {# --------------------------------------------- FAQ --------------- #}
          {% case 'faq' %}
              <!-- interaction with this works thanks to the wc-accordion plugin -->
              <div class="wc-accordion">
                {{block.faqs}}
              </div>

          {# --------------------------------------------- Users List --------------- #}
          {% case 'usersList' %}
            {% switch block.usersDisplayMode %}
              {% case 'accordion-no-pic' %}
                <div class="wc-accordion">
                  {% for i, user in block.users %}
                    <h4 class="wc-accordion-title">{{user.username}}</h4>
                    <p class="wc-accordion-content">{{user.fullname}}</p>
                  {% endfor %}
                </div>
              {% case 'squared' %}
                <div class="row">
                  {% for i, user in block.users %}
                    <div class="col col--{{block.usersPerRow}}-12">
                      <div class="img--r1-1">
                        <picture class="ratio-content">
                          <source srcset="{{user.photoUrl()}}" media="(min-width: 600px)">
                          <img src="{{user.photoUrl()}}" alt="{{user.fullname}} profile picture"/>
                        </picture>
                      </div>

                      <h3>{{user.fullname}}</h3>
                      {% autoescape false %}
                        <p>{{user.bio ? user.bio | slice(0, 60) ~ "..." : "<p>" ~ user.fullname ~ "has no Biography.</p>" }}</p>
                      {% endautoescape %}
                    </div>
                  {% endfor %}
                </div>

            {% endswitch %}

          {# --------------------------------------------- Entries List --------------- #}
          {% case 'entriesList' %}
            {% switch block.entriesDisplayMode %}
              {% case 'accordion-no-pic' %}
                <div class="wc-accordion">
                  {% for i, element in block.entries %}
                    <h4 class="wc-accordion-title">{{element.title}}</h4>
                    <p class="wc-accordion-content"><a href="{{element.url}}">{{element.introText ? element.introText : "Read more about " ~ element.title}}</a></p>
                  {% endfor %}
                </div>
              {% case 'squared' %}
                <div class="row">
                  {% for i, element in block.entries %}
                    <div class="col col--{{block.entriesPerRow}}-12">
                      <div class="img--r1-1">
                        <picture class="ratio-content">
                          <a href="{{element.url}}">
                            <source srcset="{{element.featuredImage.first() ? element.featuredImage.first().getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" media="(min-width: 600px)">
                            <img src="{{element.featuredImage.first() ? element.featuredImage.first().getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" alt="{{element.title}} profile picture"/>
                          </a>
                        </picture>
                      </div>

                      <h3><a href="{{element.url}}">{{element.title}}</a></h3>
                      {% autoescape false %}
                        <p>{{element.introText ? element.introText | slice(0, 60) ~ "..." : "" }}</p>
                      {% endautoescape %}
                    </div>
                  {% endfor %}
                </div>

            {% endswitch %}

        {% endswitch %}

      </div>
    </div>
  </div>




  {% if loop.last %}
      </div> <!-- close first opened row -->
    </div> <!-- close wrap -->
  {% endif %}

{% endfor %}
