{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry's URL is requested, because
 # the News section's Template setting is set to "news/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested News entry.
-#}

{% extends "_includes/_layouts/site" %}
{% set title = entry.title %}

{% block main %}
  {% if bodyClass != 'homepage' %}
  <!--<div class="wrap wrap--contained">
    <div class="row row--title">
      <div class="col col-12-12">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>-->
  {% endif %}
	<article>
		{% include "_includes/_matrix_layouts/page_body" %}
	</article>
{% endblock %}
