{% switch block.entriesDisplayMode %}
  {% case 'accordion-no-pic' %}
    <div class="wc-accordion">
      {% for i, element in block.entries %}
        <p class="wc-accordion-title">
          {{element.title}}
          {% for i, tag in element.tags %}
            {% if loop.first %} – {% endif %}
            {{tag}}
          {% endfor %}
        </p>
        <p class="wc-accordion-content">
          {{element.bio|striptags}}
        </p>
      {% endfor %}
    </div>
  {% case 'squared' %}
    <div class="row">
      {% for i, element in block.entries %}
        {% if element.type == 'fellows' %}
          <div class="col col--{{block.entriesPerRow}}-12@lg col--6-12@md col--fellows">
            <div class="img--r1-1">
              <picture class="ratio-content">
                <a href="{{element.url}}">
                  {% if element.featuredImage.first() is not empty %}
                    <source srcset="{{ element.featuredImage.first().getUrl('low11') }}" media="(max-width: 600px)">
                    <source srcset="{{ element.featuredImage.first().getUrl('mid11') }}" media="(min-width: 1280px)">
                    <source srcset="{{ element.featuredImage.first().getUrl('low11') }}">
                    <img src="{{ element.featuredImage.first().getUrl('low11') }}" alt="{{element.title}} profile picture"/>
                  {% else %}
                    <img srcset="https://via.placeholder.com/500x500?text={{ element.title | url_encode }}" media="(min-width: 600px)" />
                  {% endif %}
                </a>
              </picture>
            </div>

            <h4>
              <a href="{{element.url}}">{{element.title}}</a>
            </h4>
            <h5>
              {% for i, tag in element.tags %}{{ not loop.first ? ', ' ~ tag : tag }}{% endfor %}
            </h5>
            <p>{% for i, group in element.workingGroup %}{{ group.title }}{% endfor %}</p>
          </div>
        {% else %}
          <div class="col col--{{block.entriesPerRow}}-12">
            <div class="img--r1-1">
              <picture class="ratio-content">
                <a href="{{element.url}}">
                  {% if element.featuredImage.first() is not empty %}
                    <source srcset="{{ element.featuredImage.first().getUrl('low11') }}" media="(max-width: 600px)">
                    <source srcset="{{ element.featuredImage.first().getUrl('mid11') }}" media="(min-width: 1280px)">
                    <source srcset="{{ element.featuredImage.first().getUrl('low11') }}">
                    <img src="{{ element.featuredImage.first().getUrl('low11') }}" alt="{{element.title}} profile picture"/>
                  {% else %}
                    <img srcset="https://via.placeholder.com/500x500?text={{ element.title | url_encode }}" media="(min-width: 600px)" />
                  {% endif %}
                </a>
              </picture>
            </div>

            <h4><a href="{{element.url}}">{{element.title}}</a></h4>
            {% autoescape false %}
              <p>{{element.introText ? element.introText | slice(0, 60) ~ "..." : "" }}</p>
            {% endautoescape %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

{% endswitch %}
