{% switch block.galleryDisplayMode %}
  {% case 'regular' %}
    <div class="row gallery">
      {% for i, media in block.medias %}
        <div class="col col--{{block.mediasPerRow}}-12">
          <div class="img--r{{block.mediaRatio}}">
            {% if media.kind == 'image' %}
                <picture class="ratio-content">
                  <a href="{{media.url}}">
                    <source srcset="{{media.getUrl() ? media.getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" media="(min-width: 600px)">
                    <img src="{{media.getUrl() ? media.getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" alt="{{media.title}} media object"/>
                  </a>
                </picture>
            {% elseif media.kind == 'video' %}
                <video class="ratio-content" controls controls="controls">
                  {% if media.filename | split('.') | last == "mp4" %}
                    <source src="{{media.getUrl()}}" type="video/mp4" />
                  {% elseif media.filename | split('.') | last == "webm" %}
                    <source src="{{media.getUrl()}}" type="video/webm" />
                  {% elseif media.filename | split('.') | last == "ogg" %}
                    <source src="{{media.getUrl()}}" type="video/ogg" />
                  {% endif %}
                  <!-- Fallback image for browser without <video> support -->
                  <img src="https://via.placeholder.com/600x600/DB1919/000000/?text=Video+Not+Supported" alt="Video not supported.">
                  <p>Video not supported.</p>
                </video>
            {% endif %}
          </div> {# close img--r-XX-XX #}
          <p class="caption"><a href="{{media.url}}">{{media.title}}</a></p>
        </div> {# close col--XX-XX #}
      {% endfor %}
    </div>
  {% case 'list-logos' %}
    <div class="row gallery gallery--logos">
      {% for i, media in block.medias %}
        {% if media.kind == 'image' %}
          <div class="col col--{{block.mediasPerRow}}-12">
            <div class="img--r{{block.mediaRatio}}">
              <picture class="ratio-content">

                {% set link = false %}
                {% set linkDestination = '' %}
                {% if media.linkUrl.first() %}
                  {% if media.linkUrl.first().externalUrl %}
                    {% set link = media.linkUrl.first().externalUrl %}
                    {% set linkDestination = 'out' %}
                  {% elseif media.linkUrl.first().internalUrl.first() %}
                    {% set link = media.linkUrl.first().internalUrl.first().url %}
                    {% set linkDestination = 'in' %}
                  {% endif %}
                {% endif %}

                {% if link %}
                <a href="{{link}}" {{linkDestination == 'in' ? '' : 'target="_blank"'}}>
                {% endif %}
                  <source srcset="{{media.getUrl() ? media.getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" media="(min-width: 600px)">
                  <img src="{{media.getUrl() ? media.getUrl() : 'https://via.placeholder.com/600x600?text=image+here'}}" alt="{{media.title}} media object"/>
                {% if media.linkUrl.first() %}
                </a>
                {% endif %}
              </picture>
            </div> {# close img--r-XX-XX #}
            <p class="caption"><a href="{{media.url}}">{{media.title}}</a></p>
          </div> {# close col--XX-XX #}
        {% endif %}
      {% endfor %}
    </div>

{% endswitch %}
