{% switch block.usersDisplayMode %}
  {% case 'accordion-no-pic' %}
    <div class="wc-accordion">
      {% for i, user in block.users %}
        <h4 class="wc-accordion-title">{{user.username}}</h4>
        <p class="wc-accordion-content">{{user.fullname}}</p>
      {% endfor %}
    </div>
  {% case 'squared' %}
    <div class="row">
      {% for i, user in block.users %}
        <div class="col col--{{block.usersPerRow}}-12">
          <div class="img--r1-1">
            <picture class="ratio-content">

              {% if user.photoUrl() is not empty %}
                <source srcset="{{ user.photoUrl('low') }}" media="(max-width: 600px)">
                <source srcset="{{ user.photoUrl('high') }}" media="(min-width: 1280px)">
                <source srcset="{{ user.photoUrl('low') }}">
                <img src="{{ user.photoUrl('mid') }}" alt="{{ entry.title }}"/>
              {% else %}
                <img src="https://via.placeholder.com/1000x1000&text={{ user.fullname | url_encode }}" alt="Missing Image">
              {% endif %}

            </picture>
          </div>

          <h3>{{user.fullname}}</h3>
          {% autoescape false %}
            <p>{{user.bio ? user.bio | slice(0, 60) ~ "..." : "<p>" ~ user.fullname ~ "has no Biography.</p>" }}</p>
          {% endautoescape %}
        </div>
      {% endfor %}
    </div>

{% endswitch %}
