{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_includes/_layouts/site" %}
{% set title = "404 - Page NOT Found" %}

{% block main %}
	<article>
    <div class="wrap wrap--contained">
      <div class="row">
        <div class="col col--6-12@md col--6-12@xs">
          <br/><br/><br/><br/>
          <h4>You just found a</h4>
          <h2>missing page.</h2>
          <h4><br/>This is a 404 Error, which means that the page you're trying to access does not exist any more...</h4>
          <br/><br/><br/><br/>
        </div>
      </div>
	</article>
{% endblock %}
