{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at posts/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_includes/_layouts/site" %}
{% set title = "News" %}
{% set types = craft.sections.getSectionByHandle('news').getEntryTypes() %}
{% set filter_type = craft.request.getSegment(3) ? craft.request.getSegment(3) : '' %}
{% set entries = filter_type ? craft.entries.section('news').type([filter_type]) : craft.entries.section('news') %}

{% block subnav %}
  <nav class="row sub-navigation">
    <ul class="sub-nav-els col col--6-12@xl col--12-12@xs">
      <li class="sub-nav-el {{(craft.request.firstSegment == "news" and craft.request.getSegment(2) is empty ) ? 'sub-nav-el--selected' : ''}}">
        <a href="/news">
          All
        </a>
      </li>
      {% for type in types %}
        {% if craft.entries.section('news').type(type.handle).limit(1) | length %}
          <li class="sub-nav-el {{(craft.request.firstSegment == "news" and craft.request.getSegment(2) == "type" and craft.request.getSegment(3) == type.handle) ? 'sub-nav-el--selected' : ''}}">
            <a href="{{ url("news/type/" ~ type.handle) }}">
              {{ type.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block main %}
  <div class="wrap wrap--contained">
    <div class="row">
    {% for entry in entries %}
      <div class="col col--news col--3-12@lg col--6-12@sm col--12-12@xs">
        <a href="{{ entry.url }}">
          <div class="img--r1-1">
            <picture class="ratio-content">
              {% if entry.featuredImage.first() is not empty %}
                  <img src="{{ entry.featuredImage.first().getUrl('low11') }}" alt="{{ entry.title }}"/>
                  <source srcset="{{ entry.featuredImage.first().getUrl('low11') }}" media="(max-width: 600px)">
                  <source srcset="{{ entry.featuredImage.first().getUrl('low11') }}" media="(min-width: 1280px)">
                  <source srcset="{{ entry.featuredImage.first().getUrl('low11') }}">
              {% else %}
                <source srcset="https://via.placeholder.com/1500x1500&text={{ entry.title | url_encode }}" media="(min-width: 600px)">
                <img src="https://via.placeholder.com/500x500&text={{ entry.title | url_encode }}" alt="{{ entry.title }}"/>
              {% endif %}
            </picture>
          </div>
          <p>{{ entry.type | upper }} • {{ entry.postDate.format('F Y') | upper }}</p>
          <h3>{{ entry.title }}</h3>
          <p>{{ entry.introText }}</p>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
